:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: #1e1a20;
  /* 阻止滚动 */
  /* overflow: hidden; */
}

#app {
  width: 100vw;
  min-height: 100vh;
}